<template>
  <q-page class="flex flex-center">
    <div class="border">
      <div class="row">
        <div class="col-9">
          <div class="">
            <h3>Sign in to Web</h3>
          </div>
          <form class="" action="form.php" method="post">
            <div class="">
              <input type="text" name="username" id="username" placeholder="Email">
            </div>
            <div class="">
              <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <div class="">
              <button type="button" name="button">Login</button>
            </div>
          </form>
        </div>
        <div class="col-3">
haha
        </div>
      </div>
    </div>
  </q-page>
</template>

<style>
.border{
  width: 60%;
  height: 500px;
  border: 1px solid #f5f5f5;
  box-shadow: 1px 3px #f5f5f5;
  position: relative;
}
.left{
  position: absolute;
  top: 70px;
  left: 300px;
}
input{
  width: 300px;
  height: 60px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
}
button{
  width: 100px;
  height: 40px;
  border-radius: 50px 50px;
  background-color: green;
  border: none;
}
</style>

<script>
export default {
  name: 'PageIndex'
}
</script>
